In [2]:
import math
import scipy
import lifelines
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from lifelines.datasets import load_dd

data = load_dd()
data.head()

,ctryname,cowcode2,politycode,un_region_name,un_continent_name,ehead,leaderspellreg,democracy,regime,start_year,duration,observed
0,Afghanistan,700,700.0,Southern Asia,Asia,Mohammad Zahir Shah,Mohammad Zahir Shah.Afghanistan.1946.1952.Mona...,Non-democracy,Monarchy,1946,7,1
1,Afghanistan,700,700.0,Southern Asia,Asia,Sardar Mohammad Daoud,Sardar Mohammad Daoud.Afghanistan.1953.1962.Ci...,Non-democracy,Civilian Dict,1953,10,1
2,Afghanistan,700,700.0,Southern Asia,Asia,Mohammad Zahir Shah,Mohammad Zahir Shah.Afghanistan.1963.1972.Mona...,Non-democracy,Monarchy,1963,10,1
3,Afghanistan,700,700.0,Southern Asia,Asia,Sardar Mohammad Daoud,Sardar Mohammad Daoud.Afghanistan.1973.1977.Ci...,Non-democracy,Civilian Dict,1973,5,0
4,Afghanistan,700,700.0,Southern Asia,Asia,Nur Mohammad Taraki,Nur Mohammad Taraki.Afghanistan.1978.1978.Civi...,Non-democracy,Civilian Dict,1978,1,0

In [4]:
data.describe()

          cowcode2   politycode   start_year     duration     observed
count  1808.000000  1801.000000  1808.000000  1808.000000  1808.000000
mean    418.654314   416.912826  1980.681416     5.043695     0.811947
std     262.588025   261.308410    18.617736     6.208406     0.390863
min       2.000000     2.000000  1946.000000     1.000000     0.000000
25%     210.000000   210.000000  1965.000000     1.000000     1.000000
50%     371.000000   369.000000  1983.000000     3.000000     1.000000
75%     645.000000   645.000000  1997.000000     6.000000     1.000000
max     990.000000   990.000000  2008.000000    47.000000     1.000000