# Non-Parametric Model: Kaplan-Meier

In [7]:
# importing libraries
import math
import scipy
import lifelines
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
from lifelines.datasets import load_dd
from lifelines import KaplanMeierFitter

### Using sample dataset available in lifelines package

In [9]:
df = load_dd()
df.head()

,ctryname,cowcode2,politycode,un_region_name,un_continent_name,ehead,leaderspellreg,democracy,regime,start_year,duration,observed
0,Afghanistan,700,700.0,Southern Asia,Asia,Mohammad Zahir Shah,Mohammad Zahir Shah.Afghanistan.1946.1952.Mona...,Non-democracy,Monarchy,1946,7,1
1,Afghanistan,700,700.0,Southern Asia,Asia,Sardar Mohammad Daoud,Sardar Mohammad Daoud.Afghanistan.1953.1962.Ci...,Non-democracy,Civilian Dict,1953,10,1
2,Afghanistan,700,700.0,Southern Asia,Asia,Mohammad Zahir Shah,Mohammad Zahir Shah.Afghanistan.1963.1972.Mona...,Non-democracy,Monarchy,1963,10,1
3,Afghanistan,700,700.0,Southern Asia,Asia,Sardar Mohammad Daoud,Sardar Mohammad Daoud.Afghanistan.1973.1977.Ci...,Non-democracy,Civilian Dict,1973,5,0
4,Afghanistan,700,700.0,Southern Asia,Asia,Nur Mohammad Taraki,Nur Mohammad Taraki.Afghanistan.1978.1978.Civi...,Non-democracy,Civilian Dict,1978,1,0

### Using the Kaplan-Meier Fitter available in Lifelines package

In [10]:
kmf = KaplanMeierFitter()

In [12]:
T = df["duration"]
E = df["observed"]

kmf.fit(T, event_observed=E)

### Printing the event table which can be used to do manual calculation

In [13]:
event_df = kmf.event_table
event_df.head()

          removed  observed  censored  entrance  at_risk
event_at
0.0             0         0         0      1808     1808
1.0           555       503        52         0     1808
2.0           248       208        40         0     1253
3.0           195       152        43         0     1005
4.0           178       146        32         0      810

### Printing the Survival Function

In [14]:
kmf.survival_function_.head()

          KM_estimate
timeline
0.0          1.000000
1.0          0.721792
2.0          0.601973
3.0          0.510929
4.0          0.418835